body {
  background-color: rgb(25, 25, 25);
  color: white;
}

a {
  color: rgb(0, 200, 200);
}

.not {
  margin-top: 0.1rem;
}

.nob {
  margin-bottom: 0.1rem;
}

.container {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-rows: repeat(36, 1fr);
  grid-template-columns: repeat(36, 1fr);
  height: 100vh;
}

.header {
  z-index: 1;
  grid-row: 2 / 3;
  grid-column: 7 / 36;
  border-radius: 15px;
  background-color: rgb(50, 50, 50);
  padding: 10px;
}

.main1 {
  z-index: 1;
  border-radius: 15px;
  grid-row: 4 / auto;
  grid-column: 7 / 36;
  padding: 10px;
  background-color: rgb(50, 50, 50);
}

.main2 {
  z-index: 1;
  border-radius: 15px;
  grid-row: 12 / auto;
  grid-column: 7 / 36;
  padding: 10px;
  background-color: rgb(50, 50, 50);
}
/*
.sizzle {
  z-index: 2;
  border-radius: 20px;
  grid-row: 15 / 36;
  grid-column: 2 / 36;
}
*/
.aside {
  z-index: 1;
  text-align: left;
  color: white;
  /*border: 5px solid rgb(100, 100, 200);*/
  padding: 10px;
  border-radius: 15px;
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  background-color: rgb(50, 50, 50);
}

.link1 {
  z-index: 1;
  text-align: left;
  color: white;
  /*border: 5px solid rgb(100, 100, 200);*/
  padding: 10px;
  border-radius: 15px;
  grid-row: 4 / auto;
  grid-column: 2 / 6;
  line-height: 1.8;
  background-color: rgb(50, 50, 50);
}
  
.link2 {
  z-index: 1;
  text-align: left;
  color: white;
  padding: 10px;
  border-radius: 15px;
  grid-row: 9 / auto;
  grid-column: 2 / 6;
  line-height: 1.8;
  background-color: rgb(50, 50, 50);
}

#linktext {
  font-size: 18px;
}

/*Colors for the to-do list:*/
#workingOnItNow {
  color: rgb(100, 200, 100)
}

#gonnaDoItSoon {
  color: rgb(200, 200, 100)
}

#notGonnaDoItSoon {
  color: rgb(255, 100, 100)
}

/*Subjects*/
#math {
  color: rgb(255, 75, 75)
}

#komputer {
  color: rgb(75, 255, 75)
}

#linguist {
  color: rgb(100, 100, 255)
}

#game {
  color: rgb(255, 150, 0)
}