node_modules
src/routes/testing/+page.svelte
src/lib/secretData.json
src/lib/secrets.json
src/lib/_getGitHubData.ts

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vite

.direnv
.sveltekit

test.ts
