body {
  background-color: black;
  color: white;
}

h2,
h3 {
  margin-bottom: 0.1rem;
}

p,
ul {
  margin-top: 0.1rem;
}

a {
  color: rgb(100,200,200);
}

#blue {
  color: rgb(50, 100, 200);
}
#red {
  color: rgb(200, 50, 50)
}
#math {
  color: rgb(255, 100, 100)
}
#komputer {
  color: rgb(75, 255, 75)
}
#linguist {
  color: rgb(100, 100, 255)
}

/*Some cool colors I found (but haven't used yet)
  rgb(100,200,200)
  rgb(200,100,200)
  rgb(200,200,100)

  rgb(200,100,100)
  rgb(100,200,100)
  rgb(100,100,200)
*/