body {
  background-color: rgb(25, 25, 25);
  color: white;
}

a {
  color: rgb(0, 200, 200);
}

.not {
  margin-top: 0.1rem;
}

.nob {
  margin-bottom: 0.1rem;
}

.containerMain {
  margin: 10px;
  padding: 10px;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}

.containerCol1 {
  flex: none;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sizzle {
  border-radius: 20px;
  width: 220px;
}

.containerCol2 {
  flex-grow: 2;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aside1 {
  width: 200px;
  text-align: left;
  color: white;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(50, 50, 50);
}

.link1,
.link2 {
  width: 200px;
  text-align: left;
  color: white;
  padding: 10px;
  border-radius: 15px;
  line-height: 1.8;
  background-color: rgb(50, 50, 50);
}

.main,
.header,
.main2 {
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(50, 50, 50);
}

.header {
  height: auto;
}

#linktext {
  font-size: 18px;
}

/*Colors for the to-do list:*/
#workingOnItNow {
  color: rgb(100, 255, 100)
}

#gonnaDoItSoon {
  color: rgb(255, 255, 100)
}

#notGonnaDoItSoon {
  color: rgb(255, 100, 100)
}

/*Subjects*/
#math {
  color: rgb(255, 75, 75)
}

#komputer {
  color: rgb(75, 255, 75)
}

#linguist {
  color: rgb(100, 100, 255)
}

#game {
  color: rgb(255, 150, 0)
}