body {
  background-color: black;
  color: white;
}

a {
  color: rgb(100,200,200);
}

#workingOnItNow {
  color: rgb(100,200,100)
}
#gonnaDoItSoon {
  color: rgb(200, 200, 100)
}
#notGonnaDoItSoon {
  color: rgb(200, 100, 100)
}