:root {
  --linkblue: rgb(0, 200, 200);
  --backgroundcolor: rgb(12, 12, 12);
  --itemcolor: rgb(25, 25, 25);
  --mathcolor: rgb(255, 75, 75);
  --blogcolor: rgb(35, 219, 38);
  --projectcolor: gold;
  --mainwidth: 768px;
}

body {
  background-color: var(--backgroundcolor);
  color: white;
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
  text-align: center;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image:
    linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

a {
  color: var(--linkblue);
  text-decoration: none;
}

.not {
  margin-top: 0rem;
}

.halft {
  margin-top: 0.1rem;
}

.nob {
  margin-bottom: 0rem;
}

.halfb {
  margin-bottom: 0.1rem;
}

.centerer {
  display: flex;
}

.fillerElement {
  width: 30vw;
  flex-shrink: 2;
  flex-grow: 2;
  min-width: none;
}

/* Flexboxes */
.containerMain {
  display: flex;
  width: var(--mainwidth);
  row-gap: 30px;
  flex-direction: column;
}

.header {
  width: var(--mainwidth);
  border-radius: 15px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  height: auto;
  background-color: var(--itemcolor);
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.containerStandard {
  flex-direction: row;
  display: flex;
  column-gap: calc(var(--mainwidth) * 2 / 40);
}

.mainStandard {
  text-align: left;
  border-radius: 15px;
  padding: calc(var(--mainwidth) * 1 / 40);
  width: calc(var(--mainwidth) * 24 / 40);
  background-color: var(--itemcolor);
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.githubWidget {
  background-color: rgb(13, 17, 23);
  width: calc(var(--mainwidth) * 10 / 40);
  border-radius: 20px;
  padding: calc(var(--mainwidth) * 1 / 40);
  text-align: left;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.githublangbar {
  display: flex;
}

.sideStandard {
  width: calc(var(--mainwidth) * 10 / 40);
  border-radius: 20px;
  padding: calc(var(--mainwidth) * 1 / 40);
  background-color: var(--itemcolor);
  text-align: left;
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.imageStandard {
  width: calc(var(--mainwidth) * 12 / 40);
  border-radius: 20px;
  background-color: var(--itemcolor);
  height: 315px;
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.main {
  text-align: left;
  border-radius: 15px;
  padding: calc(var(--mainwidth) * 1 / 40);
  width: calc(var(--mainwidth) * 38 / 40);
  background-color: var(--itemcolor);
  box-shadow: 10px 10px rgb(0, 0, 0);
}

/* For the Buttons! */
.containerButtons {
  display: flex;
  flex-direction: row;
  column-gap: calc(var(--mainwidth) * 2 / 40);
  height: auto;
}

.button1 {
  background-color: var(--itemcolor);
  border: none;
  display: inline-block;
  /* hierdoor werken width en height */
  text-align: center;
  /* text center horizontaal */
  line-height: 40px;
  /* zorgt ervoor dat text in midden verticaal is, verander dit als je height veranderd*/
  width: calc(var(--mainwidth) * 12 / 40);
  height: auto;
  border-radius: 10px;
  color: var(--linkblue);
  box-shadow: 10px 10px rgb(0, 0, 0);
  transition: 0.3s; /* :3 */
}

.button1:hover {
  background-color: var(--linkblue);
  color: var(--itemcolor);
}

.mentions {
  border-radius: 15px;
  height: auto;
  background-color: var(--itemcolor);
  padding-bottom: 10px;
  box-shadow: 10px 10px rgb(0, 0, 0);
}

.mentionspfp {
  height: 50px;
  border-radius: 25px;
  margin: 5px;
}

.small {
  font-size: 10px;
}

/*Links*/
.link1,
.link2 {
  text-align: center;
  border-radius: 15px;
  width: 200px;
  color: white;
  padding: 10px;
  line-height: 1.8;
  background-color: var(--itemcolor);
}
